<h2>Iniciar Sesión</h2>

<form method="post">
    <input id="email" name="Email" class="form-control" placeholder="Email" />
    <input id="password" type="password" name="Password" class="form-control" placeholder="Contraseña" />

    <button id="btnLogin" class="btn btn-primary">Entrar</button>

    <p id="errorMsg">@ViewBag.Error</p>
</form>
