<h2>Crear Usuario</h2>

<form method="post">
    <input id="nombre" name="Nombre" class="form-control" placeholder="Nombre" />
    <input id="email" name="Email" class="form-control" placeholder="Email" />

    <button id="btnCrear" class="btn btn-primary">Crear</button>
</form>
