<h2>Usuarios</h2>
<a href="/Users/Create" class="btn btn-success">Crear Usuario</a>

<table id="tabla" class="table">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>

@foreach (var u in Model)
{
    <tr>
        <td>@u.Id</td>
        <td>@u.Nombre</td>
        <td>@u.Email</td>
        <td>
            <a href="/Users/Edit/@u.Id" class="btn btn-warning">Editar</a>
            <a href="/Users/Delete/@u.Id" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
}
</table>
